    /* 设置画布的背景颜色为白色 */
body {
    background-color: white;  /* 画布背景颜色 */
    position: relative; /* 使子元素可以使用绝对定位 */
}

/* SVG 的样式 */
svg {
    display: block;  /* 防止 SVG 之间的空白 */
    /*margin: auto;  !* 居中 *!*/
}

    /* 添加选中状态的样式 */
.selected {
        fill: orange; /* 选中状态的颜色 */
        stroke: black; /* 边框颜色 */
        stroke-width: 1.5px; /* 边框宽度 */
}


/* 地图路径的默认样式（陆地） */
.land {
    stroke: #333;
    stroke-width: 0.5px;
}

/* 海洋颜色设置 */
.ocean {
    fill: lightblue;  /* 海洋颜色 */
}

/* 高亮选择的国家 */
.selected {
    fill: #ffffff;
}

    #tooltip {
        position: absolute;
        opacity: 0; /* Initially hidden */
        pointer-events: none; /* Prevent mouse events on the tooltip */
        background: white; /* Background color */
        border: 1px solid #ccc; /* Optional border */
        border-radius: 4px; /* Optional rounded corners */
        padding: 10px; /* Optional padding */
        font-size: 12px; /* Set the font size to a smaller size */
        color: black; /* Set text color */
        z-index: 10; /* Ensure tooltip is above other elements */
    }

/* 按钮样式 */
.zoom-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;  /* 确保按钮在最上面 */
}

.zoom-buttons button {
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.zoom-buttons button:hover {
    background-color: #0056b3;
}
